<div fxLayout="column" class="card">
  <mat-card [formGroup]="form">

    <mat-card-content fxFlex fxLayout="column" [formGroup]="form">
      <mat-card-title style="padding-top: 30px;">
        Add New Role
      </mat-card-title>

      <mat-form-field>
        <mat-label>Role Name</mat-label>
        <input type="text" matInput formControlName="text" />
      </mat-form-field>

      <mat-card-actions align="end">
        <button mat-button (click)="cancel()">Cancel</button>
        <button mat-raised-button color="primary" [disabled]="!form.valid" (click)="create()">Create</button>
      </mat-card-actions>

    </mat-card-content>
  </mat-card>
</div>
