<div fxLayout="column" class="aboutPage">
    <br>

    <div fxFlex>
        <h1 class="title">
            About Us</h1>

    </div>



    <div fxFlex>
        <div class="aboutContainer" fxLayout="column">
            <h1 class="aboutHeading">Our Story</h1>
            <hr />
            <p>We are professionals that specialize in computer maintenance, computer repair services, and customer service. In addition to the numerous high quality certified services we offer, we also feel it is very important to offer these services quickly,
                easily, and efficiently. Being able to customize your service requests, view invoices, edit carts, and to do all of this securely is our top priority. Offering an intuitive and scalable application for both users and admins, they will
                be able to register an account, customize security questions and features, select desired services and receive an invoice summary with a total amount, and admin can manage secure data. A standard user will have access to editing, deleting,
                and manipulating their own personal account. </p>
            <p>Since we have been on this journey in 2020, our main goal has been to help fill our customers needs and remain honest, kind, and consistent to anyone who steps through our doors. We take pride in what we have to offer back to the community.
                You can guarantee that with our Bobs Computer Repair Shop application you will be getting quality service along with a user friendly and responsive web application. We started this business with the intent to work for the people and plan
                to continue desiging and building highly intuitive and resonsive interfaces that create an easier user experience. Our staff is here to assist with any service needed or any question you need answered. We are here to make things easier
                on you!
                <br /> Looking forward to hearing from you.
                <br />
                <br /> Take care!
                <br />
                <br /> Bob's Computer Repair Shop
            </p>
            <p></p>

            <br />
        </div>
    </div>

    <br />

    <!--Angular Material Icons-->
    <div class="row" class="contactContainer">
        <h1 class="contactHeading">Contact</h1>
        <hr />
        <div class="column">
            <span class="material-icons">
                    call
            </span>
            <br />
            <span class="material-icons">
                    email
            </span>
            <br />
            <br />

            <span class="material-icons">
                    location_on
            </span>

        </div>
        <div class="column" id="contactStyle">
            <p>555-555-1234</p>
            <p>bcrs@email.com</p>
            <p>Bob's Computer Repair Shop <br /> 1234 Rainbow Ln <br /> Lincoln, NE 68524
            </p>
        </div>
    </div>
</div>



<!--End of Home.Component.html-->
