<div fxLayout="column" class="aboutPage">
    <br>

    <div fxFlex>
        <h1 class="title">
            About Us</h1>
        <br />
    </div>

    <br />

    <div fxFlex>
        <div class="aboutContainer" fxLayout="column">
            <h1 class="aboutHeading">Our Story</h1>
            <hr />
            <p>Bob's Computer Repair Shop is a locally run business that offers computer repair services with pricing and additional parts and labor. This application offers employees and administration secure access to viewing, editing, deleting, and manipulating
                important information. </p>
            <br />
        </div>
    </div>

    <br />

    <!--Angular Material Icons-->
    <div class="row" class="contactContainer">
        <h1 class="contactHeading">Contact</h1>
        <hr />
        <div class="column">
            <span class="material-icons">
                    call
            </span>
            <br />
            <span class="material-icons">
                    email
            </span>
            <br />
            <br />

            <span class="material-icons">
                    location_on
            </span>

        </div>
        <div class="column">
            <p>555-555-1234</p>
            <p>bcrs@email.com</p>
            <p>Bob's Computer Repair Shop <br /> 1234 Rainbow Ln <br /> Lincoln, NE 68524
            </p>
        </div>
    </div>
</div>



<!--End of Home.Component.html-->