.title {
    text-align: center;
    font-size: 200%;
}

.aboutContainer {
    padding-right: 40%;
}

.contactContainer {
    padding-right: 40%;
}

hr {
    width: 98%;
}

.column {
    float: left;
    width: 15%;
}

#contactStyle {
    padding-bottom: 10%;
}