.main-welcome {
    margin-top: 30px;
}

h3 {
  font-size: 1.25rem;
  font-weight: 600;
}

.title {
  text-align: center;
  font-weight: lighter;
}

.subtitle {
  text-align: center;
  font-size: 14px;
}

.success-card {
  background-color: #c8e6c9;
  border: 1px solid #97b498;
}
