/* You can add global styles to this file, and also import other style files */

/* primary base: #78b1b6 */
/* primary light: #dcffff */
/* primary dark: #3e6164 */


html, body { height: 100%; overflow: auto;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
a { text-decoration: none; }

/* utilities */
.float-right { float: right; }
.text-right { text-align: right; }
.text-center { text-align: center; }
.warning {
  color: #E53935;
  margin-top: -1rem;
  font-size: .75rem;
  padding-bottom: .5rem;
}

/* navbar/footer */
.mat-toolbar {
  background: #afcdce;
}
.mat-toolbar-single-row {
  height: 70px;
}

/* card styles */
.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: none;
}
.card {
  text-align: center;
  width: 75%;
  justify-content: center;
  margin: 0 auto;
  padding: 30px 0px 80px 0px;
}
.mat-dialog-actions {
  margin-bottom: 0!important;
}
.verify-container {
  width: 65%;
  margin: 15% auto;
  max-width: 650px;
}
.verify-container .mat-card-title {
  padding: 1.5rem 2rem;
  background-color: #78b1b6;
  color: #fff;
  margin-left: -1rem;
  margin-right: -1rem;
  margin-top: -1rem!important;
  font-weight: 300;
  font-size: 2.2rem;
  letter-spacing: 1px;
  text-align: center;
}

/* btn-styles */
.mat-raised-button.mat-primary{
  background-color: #78b1b6;
}
.mat-raised-button.mat-primary:hover:not(disabled=true){
  background-color: #96c8cc;
}
.btn-flat {
  background-color: transparent;
  border: none;
  margin-right: .5rem;
}
.mat-button {
  color: rgba(0, 0, 0, 0.75)
}
.return {
  color: rgba(0,0,0,.75);
  position: absolute;
  bottom: -1.75rem;
  left: 1rem;
}
.return:hover {
  color: rgba(0,0,0,.56);
}
